  <td><%= shipment.source_location %></td>
  <td><%= shipment.target_location %></td>
  <td><%= shipment.address %></td>
  <td><%= shipment.item %></td>
  <td><%= shipment.status %></td>
  <% if current_user.role.include?("admin") %>
    <td><%= User.find(shipment.delivery_partner_id).name %></td>
    <td>
      <%= form_with(model: shipment, url: shipment_path(shipment), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
        <%= form.submit 'Delete', data: { turbo_frame: "shipment_#{shipment.id}" } %>
      <% end %>
    </td>
  <% end %>
  <td><%= link_to 'Edit', edit_shipment_path(shipment), remote: true, data: { turbo_frame: "edit_shipment_form" } %></td>
