<%= turbo_frame_tag "new-shipment-form" do %>
  <%= form_with(model: @shipment, url: shipments_path, method: :post, local: true) do |form| %>
    <% if @shipment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

        <ul>
          <% @shipment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :source_location %>
      <%= form.text_field :source_location %>
    </div>

    <div class="field">
      <%= form.label :target_location %>
      <%= form.text_area :target_location %>
    </div>

    <div class="field">
      <%= form.label :item %>
      <%= form.text_area :item %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.text_area :status %>
    </div>

    <%= form.submit %>
  <% end %>
<% end %>
