<div class="container">
  <h1>Shipments for <%= current_user.name %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Source location</th>
        <th>Target location</th>
        <th>Item</th>
        <th>Created At</th>
        <th>Status</th>
        <% if current_user.customer? %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @shipments.each do |shipment| %>
        <tr>
          <td><%= shipment.source_location %></td>
          <td><%= shipment.target_location %></td>
          <td><%= shipment.item %></td>
          <td><%= shipment.created_at.to_date %></td>
          <td>
            <% if current_user.role.include?("delivery_partner") || current_user.role.include?("admin") %>
              <%= form_with(model: shipment, url: update_status_shipment_path(shipment), method: :patch, class: 'update-status-form') do |form| %>
                <%= form.select :status, [['Shipped', 'shipped'], ['Delivered', 'delivered']], {}, class: 'form-select status-select' %>
                <%= form.submit 'Update', data: { turbo: 'false' } %>
              <% end %>
            <% else %>
              <%= shipment.status %>
            <% end %>
          </td>
          <% if current_user.customer? %>
            <td>
              <%= link_to 'Edit', edit_shipment_path(shipment), class: 'btn btn-secondary' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
</div>
