<%= form_with(model: @location, local: true, html: { class: "turbo-frame" }) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>