<h1>Locations#index</h1>

<%= link_to 'New Location', new_location_path %>

<table>
  <thead>
    <tr>
      <th>state</th>
      <th>city</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.state %></td>
        <td><%= location.city %></td>
        <td><%= link_to 'Edit', edit_location_path(location), remote: true, data: { turbo_frame: "edit_location_form" } %></td>
        <td>
          <%= form_with(model: location, url: location_path(location), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
            <%= form.submit 'Delete', data: { turbo_frame: "location_#{location.id}" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %><br>
<%= link_to 'Log out', user_session_path(current_user), data: { turbo_method: :delete } %><br>
