<div class="container">
  <h1>Locations</h1>

  <%= link_to 'New Location', new_location_path, class: "btn btn-primary mb-3" %>

  <table class="table">
    <thead>
      <tr>
        <th>State</th>
        <th>City</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.state %></td>
          <td><%= location.city %></td>
          <td><%= link_to 'Edit', edit_location_path(location), remote: true, data: { turbo_frame: "edit_location_form" }%></td>
          <td>
            <%= form_with(model: location, url: location_path(location), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
              <%= form.submit 'Delete', data: { turbo_frame: "location_#{location.id}" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= link_to 'Back', root_path, class: "btn btn-secondary mr-2" %>
  </div>
</div>
